# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

NEXT_PUBLIC_SUPABASE_URL=https://tqblhxikpkbvaijzkjon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxYmxoeGlrcGtidmFpanpram9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2Nzk2MjYsImV4cCI6MjA5MjI1NTYyNn0.bWwEWEsHG5lgt1a05M-a0TvsdRQAysooCVhMENr83hY
